:root {
    --color-primary: hsl(99, 50%, 90%);
    --color-secondary: hsl(99, 50%, 10%);
    --color-tertiary: hsl(159, 80%, 20%);
    --color-accent: hsl(39, 80%, 20%);
}

body {
    margin:0;
    background-color: #FEFEFE;
    background-color: var(--color-primary);
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    justify-content: center;
}

.bodyText {
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 28px;
}

.sectionHeader {
    letter-spacing: 1.5px;
    font-family: Arial;
    font-size: 3em;
}
.services,
.meetTheTeam,
.aboutUs {
    display:flex;
    flex-direction: column;
    padding-left: 26vw;
    padding-right: 26vw;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

.services {
    padding-bottom:0;
}

.servicesCards {
    display:flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vw;
}

.servicesCards,
.services{
    background-color: #d8d8d8;
}

.meetTheTeam {
    background-color: #FEFEFE;
}

.aboutUsContent{
    margin: 0;
    display:flex;
    gap: 5em;
    flex-direction: row;
}

.topLevelServices {
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5vw;
    margin-top: 50px;
    height: fit-content;
}
.aboutUsImg {
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    filter:drop-shadow(0 0 2px #F0EAD6);
}

.serviceCard:hover {
    background-color: #c5c5c5;
    
}
.profileImg,
.serviceImg{
    width: 200px;
    height: fit-content;
    border-radius: 2px;
    filter:drop-shadow(0 0 2px black);
}

.serviceCard{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.cardText {
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: center;
}

.label {
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.teamCards {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 5vw;

}

.topLevelTeamCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileCard {
    background-color: #d8d8d8;
}






@media (max-width: 1300px) {
    .aboutUs {
        align-items: center;
    }
    .aboutUsContent,
    .topLevelServices {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }


    .bodyText {
    }
}
