

body{
    font-family: Arial;
    margin: 0;
}

header{
    display: flex;
    overflow-x: hidden;
    position: sticky;
    z-index: 999;
    margin-top: 0;
    width: auto;
    height: auto; 
}

.logo {
    height: 5rem;
    width: auto;
    border-radius: 100%; 
}

.navbarright,
.navbarleft {
    width: 50vw;
    padding: 10px;
    background-color: #333;
    display: flex;
    flex-direction: row;
}
.navbarright{
    justify-content: start;
}

.navbarleft {
    justify-content: end;
    
}

.navbar {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;

}



.navbtn {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 30px;

}
.navbtn.hero {
    padding-left: 30px;
  
}




.profiles{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 10px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 25px;
}

.profileimg {
    height: 5rem;
    width: auto;
    border-radius: 50px;
}

.profile{
    width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    padding: 10px;
    margin: 10px;
    background-color: #E8E9E8;
    border-radius: 25px;
}

h2{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
}

.navbar:hover {
    background-color: #222222;
}





